/*** principales ***/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$quaternary-color: lab(71.17% -4.98 72.15);
$grey: #353535;

// Loader
$color-loader: linear-gradient(45deg, #89c8fa -11.44%, #d646ad 123.93%);
