@use '../abstracts/variables';

.loader-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -10;
    animation: loader-after-before 4s;
    position: fixed;

    .loader-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;

        & img {
            max-width: 50%;
            height: auto;
            justify-content: center;
        }

        & .loader-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            font-size: 35px;
            color: #89c8fa;
            text-align: center;
            padding: 10px;
        }
        & .loader-para {
            font-size: 25px;
            color: #89c8fa;
        }
    }

    .loader-point {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .loader-dot {
            width: 10px;
            height: 10px;
            border: 2px solid variables.$tertiary-color;
            border-radius: 50%;
            animation: bounce 0.5s infinite ease-in-out;
            margin: 0 5px;
        }
        .loader-dot:nth-child(1) {
            background: #89c8fa;
            border: 2px solid variables.$tertiary-color;
            animation-delay: 0s;
        }

        .loader-dot:nth-child(2) {
            background: aquamarine;
            border: 2px solid variables.$tertiary-color;
            animation-delay: 0.2s;
        }

        .loader-dot:nth-child(3) {
            background: deeppink;
            border: 2px solid variables.$tertiary-color;
            animation-delay: 0.4s;
        }
        .loader-dot:nth-child(4) {
            background: #89c8fa;
            border: 2px solid variables.$tertiary-color;
            animation-delay: 0, 6s;
        }

        .loader-dot:nth-child(5) {
            background: aquamarine;
            border: 2px solid variables.$tertiary-color;
            animation-delay: 0.8s;
        }
    }

    .progress-bar {
        width: 250px;
        height: 20px;
        border: 5px solid variables.$quaternary-color;
        border-radius: 15px;
        background-color: #003a68;
        margin-top: 20px;
        position: relative;

        .progress {
            width: 0%;
            height: 100%;
            border-radius: 15px;
            background: variables.$color-loader;
            animation: fillProgress 4s linear forwards;
        }
    }
}

/*** Keyframe  ***/

@keyframes loader-after-before {
    0% {
        opacity: 1;
        z-index: 9999;
    }
    75% {
        opacity: 1;
        z-index: 9999;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        color: blueviolet;
    }
    25% {
        transform: translateY(-10px);
        color: #89c8fa;
    }
    50% {
        transform: translateY(10px);
        color: aquamarine;
    }
    75% {
        transform: translateY(0);
        color: deeppink;
    }
}

@keyframes fillProgress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
