/* SCSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol {
    list-style: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
