@use '../abstracts/variables';
@use '../base/animations';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$header-background;
    padding: 20px;
    text-align: center;
    width: 100%;

    & .logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    & .nav {
        display: flex;
        padding-right: 200px;
        justify-content: right;

        .nav-list {
            list-style: none;
            padding: 0;

            .nav-list-link {
                display: inline-block;
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: variables.$primary-color;
                    font-weight: bold;

                    &:hover {
                        color: variables.$secondary-color;
                        transition: color 0.3s;
                        animation: nav-link 1s ease-in-out;
                    }
                }
            }
        }
    }
}
